{% extends "base.html" %}
 
{% block title %}Home - Glorified Pizzas{% endblock %}
 
{% block content %}
    <section class="hero">
    <div class="hero-text">
 
        <h1>Fresh Pizza,<br><h1>Made with</h1><h1>Passion.</h1>
 
        <p class="hero-desc">
            Pizzas flamed within the heart of the Earth using only the finest ingredients 
            — because life's too short for ordinary pizza, You need Glorified Pizzas.
        </p>
 
        <div class="cta-buttons">
            <a href="{{ url_for('checkout') }}" class="btn-primary">Order Now </a>
            <a href="{{ url_for('menu') }}" class="btn-outline">View Menu</a>
        </div>
 
        <div class="divider"></div>
 
        <div class="stats">
            <div>
                <strong>15+</strong>
                <span>Pizza Varieties</span>
            </div>
            <div>
                <strong>$Discounts%</strong>
                <span>Low cost and Delicious</span>
            </div>
        </div>
    </div>
 
    <div class="hero-image">
        <div class="circle-photo">
            <img src="{{ url_for('static', filename='images/hero-pizza.jpg') }}" alt="Fresh pizza">
        </div>
    </div>
</section>
{% endblock %}
